Project1/Project1.csproj
Project1/Project1.sln
Project1/Library/
Project1/.vsconfig
Project1/Assembly-CSharp.csproj
Project1/Logs/Packages-Update.log
Project1/Temp/
Project1/Logs/
Project1/UserSettings/
Project1/obj/
Project1/.vs/
